// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/





.show{
  width:80px;
  float:left;
}



.example{
  font-size:200%;
}

.example2{
  font-size:120%;
}

table.table2{
  border-top:1px solid gainsboro;
}

.table2-2{
  border-top:1px solid gainsboro;
}

.container{
  display:flex;
}

