// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// .edit{
//   text-align:center;
//   margin:0 auto;
// }

// .edit h1{
//   text-align:left;
// }
// .edit h3{
//   text-align:left;
// }
// .edit h2{
//   text-align:left;
// }

// .edit ul{
//   text-align:left;
// }


// .show{
//   width:80px;
//   float:left;
// }



.example{
  font-size:200%;
}

.example2{
  font-size:120%;
}

table.table2{
  border-top:1px solid gainsboro;

}

.table2-2{
  border-top:1px solid gainsboro;

}


.table2{
  height:100px;
  width:200px;
}


.col-md-3{

}